*{
    margin: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
    font: inherit;
}

img,
svg,
picture {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(235, 240, 240);
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 4rem;
}

.hero {
    border-top: 2px solid rgb(12, 187, 218);
    padding: 1rem 0;
}

.title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #0f3f55;
    text-align: center;
}

.sub__title {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #0b96d6;
    padding-bottom: 1rem;
}

.theme__image__container {
    padding: 1.5rem 0;
    text-align: center;
}

.group__creator {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: rgb(31, 132, 214, 0.9);
    border-radius: 15px;
    padding: 2rem;
}

.leader__image {
    max-width: 300px;
    height: 160px;
    border-radius: 10px;
}

.leader_info {
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    color: whitesmoke;
}

.leader_info p{
    padding: .1rem;
}

.name {
    text-transform: uppercase;
}

.username {
    cursor: pointer;
    text-decoration: underline;
}

.username:hover {
    color: tan;
}

.saying {
    text-decoration: underline;
}